/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  transition: 500ms background-position;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: #FFF;
  background: var(--ifm-color-primary-dark);
  background: linear-gradient(90deg, var(--ifm-color-primary-dark) 20%, var(--wazo-red) 100%);
}

.heroBanner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(/img/herro-background.webp) no-repeat bottom right;
  background-size: cover;
  mix-blend-mode: overlay;
  z-index: 0;
  opacity: 0.25;
}

.heroBanner :global .container {
  z-index: 1;
  position: relative;
}

.heroBanner :global .hero__title {
  font-weight: bold;
}

.heroBanner :global .hero__title:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.buttons a {
  color: #FFF;
  margin: 0 7.5px;
}
.buttons a.primaryButton { color: var(--ifm-color-primary); }

.primaryButton {
  background-color: #FCFCFC;
  color: #333;
  border: 2px solid #FCFCFC;
}

.secondaryButton {
  border: 2px solid #FCFCFC;
}

.primaryButton:hover, .primaryButton:active, .secondaryButton:hover, .secondaryButton:active {
  background-color: #FFF;
  border: 2px solid #FFF;
  color: var(--ifm-color-primary);
}


@media only screen and (max-width: 960px) {
  .buttons {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }
}
