.herobanner {
  padding: 100px 0 85px;
}

/* UseCase */
.useCases {
  display: flex;
  justify-content: center;
}

/* Why Wazo */
.why {
  padding: 100px 0;
  color: #FFF;
  background: rgb(40,40,40);
  background: radial-gradient(circle, rgba(40,40,40,1) 0%, rgba(0,0,0,1) 100%);
}

.why :global .row {
  justify-content: center;
  margin-top: 50px;
}

.why :global .col p {
  border: 1px solid #444;
  height: 100%;
  border-radius: 5px;
  text-align: center;
  padding: 20px 10px;
  margin-bottom: 10px;
  color: #E3E3E3;
}

.why :global .col img {
  display: block;
  margin: 0 auto 15px;
  height: 85px;
  width: auto;
}

.why :global .col:nth-child(2) p, .why :global .col:nth-child(4) p {
  padding: 40px 10px;
}

.why :global .col:nth-child(3) p {
  padding: 60px 10px;
}

/* Start Now */
.startNow {
  text-align: center;
}

.startNow :global h2 {
  position: relative;
  margin-bottom: 40px;
}

.startNow :global h2 span::before {
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  background: linear-gradient(90deg, var(--wazo-blue) 0%, var(--wazo-red) 80%);
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, 0);
}

.startNow :global h2 span {
  display: inline-block;
  position: relative;
  text-align: center;
  font-family: inherit;
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
  box-sizing: border-box;
  color: var(--wazo-blue);
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, var(--wazo-blue) 0, var(--wazo-red) 90%);
  background-clip: text;
  padding-right: 4px;
}

.startNow :global .button {
  font-size: 1.05rem;
  padding: 12px 15px 12px 20px;
}

.startNow :global .button svg {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-top: -2px;
  fill: currentColor;
}
